In [2]:
import pandas as pd
import numpy as np
# necessário pois o default está ascii, dando problema de encoding com arquivos utf-8
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [3]:
ts = pd.read_csv('../Dados/taxa-de-sucesso-ufc.csv', encoding='utf-8', decimal=',', na_values='-')

In [4]:
ts.head()

,Código UFC,Código INEP,Curso,Período,Ranking 2013,Ranking 2012,Ranking 2011,TS 2013,TS 2012,TS 2011
0,57,37274,Filosofia - Licenciatura,Noturno,1,45,57,223.1,43.8,34.6
1,35,13976,Geografia - Licenciatura,Diurno,2,6,8,219.0,100.0,101.6
2,52,13967,Pedagogia,Diurno,3,14,19,143.6,84.3,81.4
3,205,99308,Odontologia - Sobral,Diurno,4,63,67,135.0,NaN,7.5
4,45,14000,Educação Física - Licenciatura,Diurno,5,20,17,124.0,76.0,84.0

In [5]:
def to_porcentagem(s):
    
    if np.isnan(s):
        
        return '-'
    return '{}%'.format(s)
colunas_porcentagem = ['TS 2013', 'TS 2012', 'TS 2011']
ts[colunas_porcentagem] = ts[colunas_porcentagem].applymap(to_porcentagem)

In [6]:
ts.head()

,Código UFC,Código INEP,Curso,Período,Ranking 2013,Ranking 2012,Ranking 2011,TS 2013,TS 2012,TS 2011
0,57,37274,Filosofia - Licenciatura,Noturno,1,45,57,223.1%,43.8%,34.6%
1,35,13976,Geografia - Licenciatura,Diurno,2,6,8,219.0%,100.0%,101.6%
2,52,13967,Pedagogia,Diurno,3,14,19,143.6%,84.3%,81.4%
3,205,99308,Odontologia - Sobral,Diurno,4,63,67,135.0%,-,7.5%
4,45,14000,Educação Física - Licenciatura,Diurno,5,20,17,124.0%,76.0%,84.0%

In [7]:
with open('ts_2013_completo.tex', 'w') as f:
    f.write(ts[['Curso', u'Período', 'TS 2013']].to_latex())

In [8]:
ts_2013_simplificado = ts.sort('Ranking 2013', ascending=False)[['Curso', u'Período', 'TS 2013']][:10]
ts_2013_simplificado

                               Curso  Período TS 2013
80   Ciências Sociais - Licenciatura  Noturno    6.8%
79   Redes de Computadores - Quixadá  Noturno   13.3%
78           Geografia - Bacharelado   Diurno   15.3%
77         Letras - Português-Alemão   Diurno   17.6%
76            Engenharia Metalúrgica   Diurno   18.3%
75      Ciências Econômicas - Sobral  Noturno   20.9%
74  Sistemas de Informação - Quixadá   Diurno   22.0%
73           Filosofia - Bacharelado  Noturno   24.3%
72          Matemática - Bacharelado   Diurno   24.4%
71      Engenharia Elétrica - Sobral   Diurno   25.0%

In [9]:
with open('ts_2013_simplificado.tex', 'w') as f:
    f.write(ts_2013_simplificado.to_latex())